// Brand Colors

$primary-color: #bf3547;
$accent-color: #027dff;
$primary-border-color: #EAEAEA;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-hover:#FCFCFC;
$light-grey: #cdcdcd;
$silver-grey:#6a6a6a;
$dark-grey:#23272a;


//Media query variables
$min: "min";
$max: "max";
// Media Query Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Typography Sizes
$font-xs: 12px;
$font-sm: 14px;
$base-font: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 30px;

$font-weights:(
    "light": 200,
    "regular": 400,
    "bold": 600,
    "black-bold": 900,
);
$font-main : 'Barlow';